# Application
PROJECT_NAME=HRIS
ENVIRONMENT=local
SECRET_KEY=changethis
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=changethis

# Backend
API_V1_STR=/api/v1
BACKEND_CORS_ORIGINS=["http://localhost:5173","http://localhost:5174"]
FRONTEND_HOST=http://localhost:5174

# Database
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis
POSTGRES_DB=app

# Email
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=
EMAILS_FROM_NAME=

# Sentry
SENTRY_DSN=